import axios from '../../config/axios.config';

const invoiceService = {
    getInvoiceDetails: async (id) => {
        try {
            const response = await axios.get("invoice/create/" + id);
            return response.data;
        } catch (error) {
            throw error;
        }
    },

    createInvoice: async (id) => {
        try {
            const response = await axios.post("invoice/create/" + id);
            return response;
        }
        catch (error) {
            throw error;
        }
    }
};

export default invoiceService;