import axios from 'axios';
import BE_SERVER from './system';

axios.defaults.baseURL = BE_SERVER;
axios.defaults.withCredentials = true; // Enable cookies
axios.defaults.headers.common['Content-Type'] = 'application/json';
axios.defaults.headers.common['Access-Control-Allow-Origin'] = 'https://tranroger.github.io/'

// Add response interceptor to handle auth
axios.interceptors.response.use(
  (response) => response,
  (error) => {
    if (error.response.status === 401) {
      window.location.href = '/login';
    }
    return Promise.reject(error);
  }
);

// Add response interceptor
axios.interceptors.response.use(
  response => response,
  error => Promise.reject(error)
);

export default axios;